<div class="row repositorydetails-container">
        <div *ngIf="repositorydetails" class="row repositorydetails">
            <div class="repository-details-container col-5">
                <img src={{repositorydetails.avatarUrl}} alt=""/>
                <div>
                    <strong class="repo-name col-12">{{capitalize(repositorydetails.ownerLogin) + " / " + capitalize(repositorydetails.repositoryName)}}</strong> 
                </div>
            </div>

            <div class="col-7 repository-other-details">
                <p><strong>Supported Language: </strong>{{repositorydetails.language}}</p>
                <p><strong>Total Open Issues: </strong>{{repositorydetails.openIssueCount}}</p>
                <p><strong>Default Branch: </strong>{{capitalize(repositorydetails.defaultBranch)}}</p>
                <p><strong>Subscriber Count: </strong>{{repositorydetails.subscribersCount}}</p>
                <p><strong>Application Size: </strong>{{repositorydetails.repoSize}}</p>
                <p><strong>Application Url: </strong>{{repositorydetails.homePage}}</p>                    
            </div>
        </div>
</div>